body { 
  background: rgb(240, 241, 243); 
  color: rgb(107, 101, 101);  
  font-family: 'Abel', cursive;
  margin: 0; 
  padding-left: 25px;
}
h1{
  text-shadow: 2px 2px 4px white;
  color: slategrey;
  font-size: 35px;
  font-family: 'Abel';
  border: black;
}
h2, p, ul, li {
  font-family: 'Abel', cursive;
}
a:link {
color: lightslategrey;
}

a:visited {
color: grey;
}

a:hover {
color: skyblue;
}


a:active {
color: lightsteelblue;
}
.container02 {
  width: 100%;
  height: auto;
  text-align: center;
  align-content: center;
  
}
.table{
  border:rgb(240, 237, 237);
  padding: 25px;
  width: 100%;
  text-align: center;
  color: gray;
}
  .thead2{
    background-color: rgb(218, 222, 228); 
    font-weight: lighter;
    border: lightgray;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    padding-bottom: 5PX;
    font-size: 12px;
    }
    .form-control {
      width: 35%;
      height: auto;
      text-align: center;
    }
    tr {
      background: rgb(235, 236, 238); 
    }
    th {
      background: rgb(199, 201, 204); 
      padding: 5px;
    }